#tabla{
    display: flex;
    flex-direction: row;
    align-items: center;
}

body{
    background-color:cadetblue;
}

.columna{
    flex-direction: column;
    border: 3px solid black;
    background-color: aliceblue;

}

.itTarea{
    background-color: aqua;
    /**background: random-item(indigo, deeppink, tomato); **/
    /** Intento de color random en el background, malio sal*/
    margin: 10px;
    padding: 10px;
}

#titulillo{
    text-align: center;
    font-size: 150%;
}


.titu{
    text-align: center;
}