header{
    background-color: rgb(97, 97, 255);
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}
.titulos{

}

.img1{
    width: 300px;
}

.textintro{
    position: absolute;
    background-color: rgb(97, 97, 255, 0.5) ;
}

.titulotext, .textointro{
    color: white;
}
.intro{
    background-image: url("./imagenes/fondo1.png");
    height: 100vh;
    background-repeat: no-repeat;
}