#tabla{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

body{
    background-color: lightblue;
}

.columna{
    flex-direction: column;
    border: 3px solid black;
    background-color: aliceblue;
}

.itTarea{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
}

#titulillo{
    text-align: center;
    font-size: 150%;
}

.limpiar{
    
}

.titu{
    text-align: center;
}