.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f6ff;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.delete-btn:hover {
  background: darkred;
  transform: scale(1,1);
}